NEXT_PUBLIC_SUPABASE_URL=https://xreokspedcjkjdwxysva.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhyZW9rc3BlZGNqa2pkd3h5c3ZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjIyNTQ2OTYsImV4cCI6MjAzNzgzMDY5Nn0.7AvcUzfj6OBcG3pHD3xr7ClVjSx0BaFnH-BnnLGr3gQ
NEXT_PUBLIC_SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhyZW9rc3BlZGNqa2pkd3h5c3ZhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyMjI1NDY5NiwiZXhwIjoyMDM3ODMwNjk2fQ.vMcQ9aNQx8OplUdMVizFgzKaIdRGBKsBBfcnU0WsXj4
NEXT_PUBLIC_AIRTABLE_API_TOKEN=patze77eYFM2aFEqs.77ceb338450ea776d806b93f8591cc013bdfc8c18e7fdc42d62b54e07aed1959
NEXT_PUBLIC_AIRTABLE_BASE_ID=appQPl3O6ruJIFuuW